* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color:  white;
}

body main {
    text-align: center;
    width: 300px;
    height: 400px;
    background-color: #8cd3ff;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    border: 3px solid black;
}
body main h1{
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}